# Virtual Environment
backend/venv/
backend/myenv/
myenv/
venv/
env/
.venv/

# Python/Django
backend/spotify_clone/__pycache__/
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
*.log
db.sqlite3  # Nếu bạn dùng SQLite, tránh commit database
*.sqlite3
backend/music/migrations/  # Tránh commit migrations nếu không cần thiết
migrations/  # Tránh commit migrations nếu không cần thiết

# Node.js/React
node_modules/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/  # Thư mục build của React

# IDE/Editor
.idea/  # PyCharm
.vscode/  # Visual Studio Code
*.sublime-workspace

# OS-specific
.DS_Store  # macOS
Thumbs.db  # Windows

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
*.bak
*.swp
*.tmp
backend/spotify_clone/__pycache__/
