@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0.75rem;
    /* 12px / 16 = 0.75rem */
    height: 0.75rem;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    /* 2px = 0.125rem, 4px = 0.25rem */
}

input[type="range"]::-moz-range-thumb {
    width: 0.75rem;
    /* 12px / 16 = 0.75rem */
    height: 0.75rem;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.2);
    /* 2px = 0.125rem, 4px = 0.25rem */
}

/* Hiệu ứng mở rộng và thu lại cho swiper */
.volume-slider {
    width: 0;
    opacity: 0;
    transition: width 0.3s ease-out, opacity 0.3s ease-out;
}

.group:hover .volume-slider {
    width: 6rem;
    /* 96px / 16 = 6rem */
    opacity: 1;
}